# Introduction to R/Jupyter

 This is a Jupyter Notebook. A Jupyter Notebook is an ["open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text."](http://jupyter.org) We will use the R programming languge and LaTex typsetting in Jupyter to prepare assignments and projects (you can also use other languages in Jupyter). The purpose of this note book is to familiarize yourself with programming in R.

R is a powerful open source programming language that is used for statistical computation and graphics. In many ways, it is similar to Matlab and Python (so, if you know these languages, learning R will be fairly easy!). 

The best way to learn R and Jupyter is to jump right in! Below we walk through how to use Jupyter and R. **Text in boldface indicates exercises that I am asking you to complete.**

## Part I: Basics

Jupyter has different types of cells. This cell is a "markdown" cell, and is used to write equations (LaTeX) and text. The other type of cell that we will use is a "code" cell. This is where we will program using R. You can create a new cell from the plus sign above (delete using the scissor) and select the type of cell using the drop down menu above and to the right. 

#### Double click on the "Type Markdown and LaTex: $a^2$" and type your favorite equation (come on, you know you have one...).

$P(\boldsymbol\theta \, | \, \boldsymbol y) \propto P(\boldsymbol y \, | \, \boldsymbol\theta)P(\boldsymbol\theta)$

In R/code cells, you can do (almost) anything that you can do in R, from basic computations to complex statistical modeling. 

#### Create an R code cell below this cell. Compute the natural log of e. You may have guessed that the right functions for this are ${\tt log()}$ and ${\tt exp()}$. But with R, you don't have to guess. You can type "${\tt ?? log}$" to get some general information about functions related to logarithms (the same applies to other concepts); if you type "? X" you will get information about the specific function X (e.g., try "${\tt ? exp}$"). Often, a Google search is a really effective way to learn about R functions.

The function ${\tt c()}$ will allow you to create vectors ("c" for combine). 

#### In the cell below, create three vectors:

1. a vector containing the numbers 1, 2, 5.3, 6, -2, 4;
2. a vector containing the strings "one", "two, and "three" (strings are formed in R by putting quotes around the words);
3. a vector of logicals: TRUE, TRUE, FALSE, TRUE.

In [1]:
c(1,2,3)
c(1, 2, 5.3, 6, -2, 4)
c("one", "two", "three")
c(TRUE, TRUE, FALSE, TRUE)

[1] 1 2 3

[1]  1.0  2.0  5.3  6.0 -2.0  4.0

[1] "one"   "two"   "three"

[1]  TRUE  TRUE FALSE  TRUE

#### Next, type ${\tt seq(1,10)}$ in the R cell below. What does it do? What about ${\tt seq(1, 20, by = 2)}$? ${\tt seq(10, 20, len = 100)}$? Why are these convenient?

In [2]:
seq(1, 10)
seq(1, 20, by = 2)
seq(10, 20, len = 100)

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  3  5  7  9 11 13 15 17 19

  [1] 10.00000 10.10101 10.20202 10.30303 10.40404 10.50505 10.60606 10.70707
  [9] 10.80808 10.90909 11.01010 11.11111 11.21212 11.31313 11.41414 11.51515
 [17] 11.61616 11.71717 11.81818 11.91919 12.02020 12.12121 12.22222 12.32323
 [25] 12.42424 12.52525 12.62626 12.72727 12.82828 12.92929 13.03030 13.13131
 [33] 13.23232 13.33333 13.43434 13.53535 13.63636 13.73737 13.83838 13.93939
 [41] 14.04040 14.14141 14.24242 14.34343 14.44444 14.54545 14.64646 14.74747
 [49] 14.84848 14.94949 15.05051 15.15152 15.25253 15.35354 15.45455 15.55556
 [57] 15.65657 15.75758 15.85859 15.95960 16.06061 16.16162 16.26263 16.36364
 [65] 16.46465 16.56566 16.66667 16.76768 16.86869 16.96970 17.07071 17.17172
 [73] 17.27273 17.37374 17.47475 17.57576 17.67677 17.77778 17.87879 17.97980
 [81] 18.08081 18.18182 18.28283 18.38384 18.48485 18.58586 18.68687 18.78788
 [89] 18.88889 18.98990 19.09091 19.19192 19.29293 19.39394 19.49495 19.59596
 [97] 19.69697 19.79798 19.89899 20.00000

#### What does the ${\tt rep}$ function do? This function can take in several arguments. To see what they are, use the help file! Explore the arguments "times" and "each". What do they do?

You can store vectors in R using ${\tt =}$ or ${\tt <-}$. 

#### Store the numbers 1 through 5 in a vector ${\tt v1}$. Create another vector, ${\tt v2}$, and join it together in a new vector, ${\tt new}$.

Factors, also known as categorical/qualitative variables, are important in statistics. "Shoe color" (Black, Brown, etc.), "drink size" (S, M, L) and "sex" (M, F) are examples of factors. Below, in f1, I create a factor with six groups; note that R treats these values as factors; so, for example, you can't multiply f1 by a number. Try multiplying f1 by 3...

In [ ]:
f1 = factor(rep(1:6,3))
f1
f2 = factor(c("a",7,"blue", "blue"))
f2

#### In the code cell below, I've written several commonly used functions. Explore. Change/add some arguments. See the power of R! 

Note that the first function creates (pseudo) random numbers from a normal distribution. Don't worry if you don't know what that is yet; we'll learn about it. But R can generate random numbers...that's cool!

In [ ]:
x <- rnorm(50, mean=5, sd=1) #generates 50 random numbers from a gaussian with mean 5 and sd 1. Don't worry...you'll know what this means soon!
hist(x, density = 20)
length(x) #return the length of x
sum(x) #sum the numbers in x
mean(x) #calculate the mean of the numbers in x
var(x) #calculate the variance of the numbers in x
sd(x) #calculate the standard deviation of x
median(x) #calculate the median of x
range(x) #calculate the range of x
log(x) #calculate the natural log of x
summary(x) #return 5-number summary of x

hist(x, density = 20, freq = FALSE) #histogram of those random numbers; freq = FALSE makes x a 'density' (integrates to 1); density shades the boxes
curve(dnorm(x,mean = mean(x),sd = sd(x)),from = min(x), to = max(x), add = TRUE) #overlay of normal density

# Part II: Vector Indexing

R (like Matlab and Python) has a nice indexing system. Given a matrix $A$, we can access the $[i,j]$ element of $A$ by writing ${\tt A[i,j]}$. We can access the ith row by typing ${\tt A[i,]}$. And, we can access the jth column by typing ${\tt A[,j]}$. And, we can do even fancier things too...

#### Modify the third line of code below to access the second, fourth, and sixth elements of the vector $a$. Take note of whether R starts indexing at 0 or 1!  Also, note that the last line uses the minus sign to access elements $ \textit{other than}$ those specified in the index.

In [ ]:
a <- seq(2, 16, by = 2)
a
a[c(1, 4)]
###
a[-c(1,5)]

#### Write code that prints the third through sixth elements of $a$ (there's a short and long way).

Logical indexing is another powerful tool for working with data in R. 

#### Let's start with typing things like "$a > 10$", "$a \le 4$", "$a == 10$", and "$a != 10$". What do these lines do?

Now let's look at more complicated logical statements. Note that ${\tt \&}$ represents "and", and ${\tt |}$ represents "or" in R. 

#### Write code that prints ${\tt TRUE}$ for values of $a$ greater than 6 and less than or equal to 10, and ${\tt FALSE}$ otherwise. Then, write code that prints ${\tt TRUE}$ for values of $a$  less than or equal to 4 or greater or equal to 12, and ${\tt FALSE}$ otherwise.

The real power of logical indexing comes when we take these vectors of logicals and put them in the index of a vector. The first line below tells R to print all elements of $a$ such that $a < 6$.

#### Write code to print elements of $a$ equal to 10. Then, print elements of $a$ less than six or equal to 10.

In [ ]:
#elements of a less than 6
a[a < 6]
#elements of a equal to 10

#elements of a less than 6 or equal to 10

## Part III: Functions, Loops and Beyond!

As we've seen, R has many built in functions; but, you can write your own, too! Below is the syntax.

#### Write a function that concatenates two vectors.

In [ ]:
y = function(input){
    #stuff
    return(output)
}

The function f1 below produces results like 'T' 'H' 'T' 'T'. We can think of f1 a function that flips a coin four times. 

#### Write a function f2 that can be interpreted as rolling a fair die eight times. How could you modify the code to roll a biased die?

#### Notice that every time you run these function, the results are different! Uncomment the line ${\tt set.seed(99)}$ and notice what happens.

In [ ]:
#set.seed(99)
f1 = function(){
    s = sample(c("H", "T"), size = 4, replace = TRUE)
    return(s)
}

f1()

In R, just like in C++, Matlab, Python, etc., you can write loops to repeat a sequence of instructions until a certain condition is met.  

#### Below is the syntax for a loop. Inside the loop, write a line of code that populates the matrix M with the numbers 1 through 20.

In [ ]:
M = matrix(NA, ncol = 2, nrow = 10); #check the help file so that you know what this does!

for (i in 1:n){
    #insert code here
}

#### Now, write a loop to calculate the mean of each column of M.

Here's an incredibly important lesson about R: many tasks that require loops in other languages (e.g., C++) **do not** require loops in R. 

#### As an example, use the function ${\tt colMeans()}$ to calculate the means of the columns of M without a loop. Then, look at the help file for ${\tt colMeans()}$ to see related functions.

Note that the family of functions that includes ${\tt colMeans()}$ does not include a function to calculate the standard deviation or variance of a column (or row). But we can still do this without loops, using the ${\tt apply()}$ function.

#### Below, the ${\tt apply()}$ function is set up to calculate the variance of each row of M. Modify the code to calculate the standard deviation of each column of M.

In [ ]:
apply(M, 1, var)
M

Recall above that we wrote a function f1 that flips a coin four times. As odd as it sounds, it will become desirable for us to repeat many times (say, $m$ times) the process of flipping a coin four times. The result might be a matrix with $m$ rows and four columns. 

#### Write a loop to repeat the process of "flipping a coin four times" 10,000 times. The result should be a 10,000 by 4 matrix.

But, as master R programmers, we avoid loops whenever possible. One reason why we do this is because loops are slower than the fancy R alternatives. As an alternative to the loop above, let's use the ${\tt replicate()}$ function to repeat the coin flipping process.

#### Using the help function as your guide, use ${\tt replicate()}$ to  repeat the process of "flipping a coin four times" 10,000 times.

## Part IV: Working with Data Frames

Datasets in R are stored as $\textit{data frames}$. Data frames are just tables of data (vectors of data of equal length). It will be important for future assignments (and in life!) for you to be able to work with data frames.

#### Take the vectors below and store them in a data frame, called ${\tt mydataframe}$, using the function ${\tt data.frame()}$.

In [ ]:
d = c(1, 2, 3, 4)
e = c("red", "white", "blue", NA)
f = c(TRUE, TRUE, TRUE, FALSE)

Note that the names of the columns aren't informative (they are just the names of the vectors used to create that dataframe). We can change that...

In [ ]:
#rename columns of data frame
names(mydataframe) <- c("ID", "Color", "Passed")
mydataframe

#name columns while creating data frame
dataframe2 <- data.frame(ID=d, Color=e, Passed=f)
dataframe2

There are a few ways that you can access elements of a dataframe. 

1. You can access columns of a dataframe by typing ${\tt mydataframe\$NameOfColumn}$ or by typing ${\tt mydataframe[ ,i]}$ (the latter will print the $i^{th}$ column).

2. To access the $i^{th}$ row, type ${\tt mydataframe[i, ]}$.

3. To access the $[i,j]$ element, type ${\tt mydataframe[i,j]}$. Note that data frames are indexed just like matrices: [row, column].

#### Print the Color column of the dataframe from above in two different ways. Print the second row. Print the element containing "white".

You can save a dataframe using the function ${\tt write.table()}$. 

#### Below, I give code to save ${\tt mydataframe}$ in a location on my computer. Modify the code to save it somewhere on your computer. I would take this time to think about being organized with your files for this course!

Notice the ${\tt sep}$ argument is set to ${\tt "\t"}$. This saves the file as a tab separated file. Look at the help file to see other options here.

In [ ]:
###Writing data to file. The paste() function just allows us to write the URL on multiple lines
write.table(mydataframe, paste("~/Google Drive/University of Colorado/Boulder",
                               "/APPM 4570 Statistical Methods/Lecture/Units",
                               "/Unit-1-EDA/code/example.txt", sep = ""), sep = "\t")

Now, let's read the file you saved back into R (this is going to be important for homework assignments!). 

#### Modify the code below to read your file back into R. Investigate what the ${\tt header}$ argument is doing!

Note that the ${\tt head}$ function prints the first few rows of your data frame. This can be helpful when you want to see how your data are organized, but don't want to print the whole thing.

In [ ]:
data <- read.table(paste("~/Google Drive/University of Colorado/Boulder",
                         "/APPM 4570 Statistical Methods/Lecture/Units",
                         "/Unit-1-EDA/code/example.txt", sep = ""), header = TRUE, sep = "\t")
head(data)

# Part V: Real-World Data Example

The National Institute of Diabetes and Digestive and Kidney Diseases conducted a study on 768 adult female Pima Indians living near Phoenix. The following variables were recorded: 

1. number of times pregnant;
2. plasma glucose concentration at 2 hours in an oral glucose tolerance test 
3. diastolic blood pressure (mmHg)
4. triceps skin fold thickness (mm); 
5. 2-hour serum insulin (mu U/ml); 
6. body mass index (weight in kg/(height in m2));
7. diabetes pedigree function (a function that represents how likely they are to get the disease by extrapolating from their ancestor’s history); 
8. age (years); and 
9. a test whether the patient showed signs of diabetes (coded zero if negative, one if positive). 

There are many different ways to read in data to R:

1. Read data from a URL. You can do this with ${\tt read.table("URL",...)}$.
2. Read data file from your hard drive. We did this above.
3. Load a dataset from an R package. 

We will do option three here since this dataset can be found in a package. First, we install the "faraway" package within the R application. 

#### Open your R application and copy and paste the following:

x = c("faraway", "car", "ggplot2", "Amelia", "ellipse", "ggplot2", "lars", "leaps", "lmtest", "Matching", "pls", "quantreg", "simex", "HistData", "needs", "readr", "data.table", "alr4", "dplyr", "HH", "perturb", "caret")

install.packages(x, repos = "http://cran.rstudio.org")

This will install many packages that we'll need this semester, including faraway, which we need for this exercise. To install other packages, you can use ${\tt install.packages()}$ or you can search packages using the "Packages and Data" dropdown menue in R.

Next, we load the faraway package and the dataset that we need.

In [ ]:
library(faraway) #load needed package--we just installed this. 
#We don't have to install it again
#but everytime we open a new Jupyter notebook (or R session) we will need to 
#load the libraries we need.
data(pima) # load data
head(pima) # first six rows of data

#### Use the ${\tt summary()}$ function to print numerical summaries of this dataset.

#### Use the ${\tt sort()}$ function to order the diastolic blood pressure variable from lowest to highest.

Note that 0 is not a reasonable value for blood pressure. This is a ${\it coding}$ issue; the people recording this data used 0 for missing data. Think about why that is a problem when doing statistical analyses...

#### Change all zero values of diastolic blood pressure to ${\tt NA}$. Then, referring to the summary above, do the same for other variables.

#### Convert the ${\tt test}$ varible to factor and look at the new summary. What do you notice?

#### Provide more descriptive labels for the levels of this variable (note that 0 = "negative" and 1 = "positive"). The easiest way do do this is with the ${\tt levels()}$ function: ${\tt levels(x) = value}$. Print the summary again. Much better!

#### Print a histogram of the ${\tt diastolic}$ variable. Comment on it's shape.

#### Use the ${\tt plot}$ function to produce a scatterplot of diabetes ($y$) against diastolic blood pressure ($x$). What do you notice about this plot?

#### Use the ${\tt boxplot()}$ function to produce a boxplot of ${\tt diabetes}$ conditioned on ${\tt test}$. Interpret this plot.

On future assignments, we will read data from the web. Here's some code that reads in a dataset from a URL.

In [ ]:
### Reading data from the web...

read.table("http://www.stats.ox.ac.uk/pub/datasets/csb/ch11b.dat")